<%inherit file="/base.html"/>

<%block name="content">

<div class="king-layout2-main mt15" style="width:1200px;">
    <div class="king-block king-block-bordered king-block-themed mb0" style="width:1000px; margin-left: 100px;">
        <div class="king-block-header king-info">
            <ul class="king-block-options">
                <li>
                    <!-- <button type="button"><i class="fa fa-cog"></i></button> -->
                </li>
            </ul>
            <h3 class="king-block-title">选择菜单</h3>
        </div>
        <div class="king-block-content">
            <div class="form-group clearfix ">
                <label class="col-sm-3 control-label bk-lh30 pt0">选择业务：</label>
                <div class="col-sm-7">
                    <select name="" id="biz_select_local" class="form-control bk-valign-top">

                    </select>
                </div>
            </div>

            <div class="form-group clearfix ">
                <label class="col-sm-3 control-label bk-lh30 pt0">选择集群：</label>
                <div class="col-sm-7">
                    <select name="" id="ip_select_local" class="form-control bk-valign-top">

                    </select>
                </div>
            </div>

            <form class="form-horizontal">
                <div class="form-group clearfix">
                    <div class="col-sm-7 col-sm-offset-3">
                        <button type="button" class="king-btn mr10  king-success" id="add_submit">执行作业</button>
                    </div>
                </div>
            </form>

            <!--div class="form-group clearfix ">
                <label class="col-sm-3 control-label bk-lh30 pt0">服务器IP：</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="inputCount3 check" placeholder="查询的ip地址">
                </div>
                <button type="button" class="king-btn mr10  king-success" id="check_submit">查询</button>
            </div-->
        </div>
    </div>
    <template id="biz_select_tpl">
        <option value="#biz_id#">#biz_name#</option>
    </template>

    <template id="ip_select_tpl">
        <option value="#bk_set_id#">
            #bk_set_name#
        </option>
    </template>

    <div class="king-block king-block-bordered king-block-themed mb0">
        <div class="king-block-header king-info">
            <ul class="king-block-options">
                <li>
                    <!-- <button type="button"><i class="fa fa-cog"></i></button> -->
                </li>
            </ul>
            <h3 class="king-block-title">数据展示</h3>
        </div>
        <div class="king-block-content">
            <table class="table mb0 pr15 ranger-box2  ">
                <thead>
                <tr>
                    <th style="width: 15px;">内网IP</th>
                    <th style="width: 15%;">主机名</th>
                    <th style="width: 15%;">云区域</th>
                    <th style="width: 15%;">业务id</th>
                    <th style="width: 25%;">系统名</th>
                    <th style="width: 15%;">操作</th>
                </tr>
                </thead>
                <tbody id="info_local">

                </tbody>
            </table>
            <template id="tpl_info">
                <tr data-bk_biz_id="#bk_biz_id#" data-bk_host_innerip="#bk_host_innerip#"
                    data-bk_inst_id="#bk_inst_id#">
                    <td style="width: 15%;">#bk_host_innerip#</td>
                    <td style="width: 15%;">#bk_host_name#</td>
                    <td style="width: 15%;">#bk_inst_name#</td>
                    <td style="width: 15%;">#bk_biz_id#</td>
                    <td style="width: 25%;">#bk_os_name#</td>
                    <td style="width: 15%;" id="operate">
                        <button class="btn btn-xs btn-warning"><i class="glyphicon glyphicon-edit check"
                                                                  title="查看性能"></i>
                        </button>
                        <button class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove delete"
                                                                 title="删除"></i>
                        </button>
                    </td>
                </tr>
            </template>
            <!-- 设置面板End -->
        </div>
    </div>
</div>

<script>
    function renderTpl(str, cfg) {
        var re = /(#(.+?)#)/g;

        return str.replace(re, function () {
            var val = cfg[arguments[2]] + '';
            if (typeof val == 'undefined') {
                val = '';
            }
            return val;
        });
    }

    $(function () {
        // 异步请求后台数据
        $.ajax({
            url: '${SITE_URL}get_biz',
            type: 'POST',
            success: function (res) {
                var _html = ' ';
                var list = res.data;
                var tpl = $('template#biz_select_tpl').html();
                for (var i = 0, len = list.length; i < len; i++) {
                    var item = list[i];
                    _html += renderTpl(tpl, item)
                }
                $('select#biz_select_local').html(_html);
            }
        });
        get_ip(11);
        setTimeout(function () {
            search_table();
        }, 1300);
    });

    function search_table() {
        var bk_set_id = $("select#ip_select_local").val();
        var biz_id = $("select#biz_select_local").val();
        console.log({bk_set_id: bk_set_id, biz_id: biz_id});
        $.ajax({
            url: '${SITE_URL}add_set_server_info',
            type: 'POST',
            data: {bk_set_id: bk_set_id, biz_id: biz_id},
            success: function (res) {
                var _html = ' ';
                var list = res.data;
                var tpl = $('template#tpl_info').html();
                for (var i = 0, len = list.length; i < len; i++) {
                    var item = list[i];
                    _html += renderTpl(tpl, item)
                }
                $('tbody#info_local').html(_html);
            }
        });
    }

    // 根据业务获取ip
    function get_ip(biz_id) {
        $.post('${SITE_URL}get_set', {'biz_id': biz_id}, function (res) {
            if (res.result) {
                var _html = ' ';
                var list = res.data;
                console.log(list);
                var tpl = $('template#ip_select_tpl').html();
                for (var i = 0, len = list.length; i < len; i++) {
                    var item = list[i];
                    _html += renderTpl(tpl, item)
                }
                $('select#ip_select_local').html(_html);
            }
        })
    }

    // 业务改变事件
    $("select#biz_select_local").change(function () {
        var biz_id = $("select#biz_select_local").val();
        get_ip(biz_id);
    })

    // 业务改变事件
    $("select#ip_select_local").change(function () {
        search_table();
    })


    $("button#add_submit").click(function (e) {
        var records = $('tbody#info_local').find('tr');
        var testCaseIds = [];
        //records.remove();
        for (var i = 0; i < records.length; i++) {
            testCaseIds.push($(records[i]).find("td").eq(0).text());
        }
        console.log({"ips": testCaseIds});

        $.post("${SITE_URL}job_add", {"ips": JSON.stringify(testCaseIds)}, function (res) {
            if (res.result) {
                var content = '<div class="king-notice-box king-notice-success"><p class="king-notice-text">任务提交成功！</p></div>'

            } else {
                var content = '<div class="king-notice-box king-notice-success"><p class="king-notice-text">任务提交失败！</p></div>'
            }
            var d = dialog({
                width: 260,
                title: '提示',
                cancel: function () {
                },
                ok: function () {
                },
                okValue: '确定',
                content: content,
                cancelValue: '取消',
                cancel: function () {
                    // do something
                }
            });
            d.show();
        })
    });

    $("button#check_submit").click(function (e) {
        var ip = $(e.target).prev("div").find("input").val();
        search_table();
    });


    // table里的点击事件
    $("tbody#info_local").on('click', '.check, .delete', function (e) {
        if ($(e.target).hasClass("check")) {
            var r = confirm("是否查询主机实时信息");
            if (r == true) {
                var bk_host_innerip = $(e.target).closest("tr").data("bk_host_innerip");
                localStorage.setItem("bk_host_innerip", bk_host_innerip); // 本地存储
                url = "${SITE_URL}exam_use";//跳转的界面url
                window.location.href = url;
            }
            else {
                return
            }
        } else if ($(e.target).hasClass("delete")) {
            var r = confirm("是否在实时查询中删除");
            if (r == true) {
                var bk_biz_id = $(e.target).closest("tr").data("bk_biz_id");
                var bk_host_innerip = $(e.target).closest("tr").data("bk_host_innerip");
                var bk_inst_id = $(e.target).closest("tr").data("bk_inst_id");
                console.log({"bk_inst_id": bk_inst_id, "bk_host_innerip": bk_host_innerip, "bk_biz_id": bk_biz_id})
                $.post("${SITE_URL}delete_server_test", {
                    "bk_inst_id": bk_inst_id,
                    "bk_host_innerip": bk_host_innerip,
                    "bk_biz_id": bk_biz_id
                }, function (res) {
                    if (res.result) {
                        if (res.result) {
                            var content = '<div class="king-notice-box king-notice-success"><p class="king-notice-text">删除服务器成功！</p></div>'
                            search_table();
                        } else {
                            var content = '<div class="king-notice-box king-notice-success"><p class="king-notice-text">删除服务器失败！</p></div>'
                        }
                        var d = dialog({
                            width: 260,
                            title: '提示',
                            cancel: function () {
                            },
                            ok: function () {
                            },
                            okValue: '确定',
                            content: content,
                            cancelValue: '取消',
                            cancel: function () {
                                // do something
                            }
                        });
                        d.show();
                    }
                })
            }
            else {
                return
            }
        }
    })

</script>

</%block>

<%block name='footerline'>
<hr class="guide-cutting-line">
</%block>


