<%inherit file="/base.html"/>

<%block name="content">

<div class="king-layout2-main mt15" style="width:1200px;">
    <div class="king-block king-block-bordered king-block-themed mb0" style="width:1000px; margin-left: 100px;">
        <div class="king-block-header king-info">
            <ul class="king-block-options">
                <li>
                    <!-- <button type="button"><i class="fa fa-cog"></i></button> -->
                </li>
            </ul>
            <h3 class="king-block-title">选择菜单</h3>
        </div>
        <div class="king-block-content">
            <div class="form-group clearfix ">
                <label class="col-sm-3 control-label bk-lh30 pt0">选择业务：</label>
                <div class="col-sm-9">
                    <select name="" id="select_local" class="form-control bk-valign-top">

                    </select>
                </div>
            </div>

            <button id="check_data" style="float: right">确定</button>
            <div class="input-group date" id="end_time" data-date="2019-01-08T09:00:07Z"
                 data-date-format="yyyy-mm-dd hh:ii" data-link-field="dtp_input1" style="width: 250px;float: right">
                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                <input class="form-control" size="16" type="text" value="" placeholder="选择日期范围">
                <input type="hidden" id="dtp_input1" value="">
                <br>
            </div>
            <div style="float: right">结束时间</div>

            <div class="input-group date" id="start_time" data-date="2019-01-08T09:00:07Z"
                 data-date-format="yyyy-mm-dd hh:ii" data-link-field="dtp_input1" style="width: 250px;float: right">
                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                <input class="form-control" size="16" type="text" value="" placeholder="选择日期范围">
                <input type="hidden" id="dtp_input1" value="">
                <br>
            </div>
            <div style="float: right">开始时间</div>
            <form class="form-horizontal">
                <div class="form-group clearfix">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button type="button" class="king-btn mr10  king-success" id="submit">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <template id="select_tpl">
        <option value="#biz_id#">#biz_name#</option>
    </template>
    <div class="king-block king-block-bordered king-block-themed mb0">
        <div class="king-block-header king-info">
            <ul class="king-block-options">
                <li>
                    <!-- <button type="button"><i class="fa fa-cog"></i></button> -->
                </li>
            </ul>
            <h3 class="king-block-title">数据展示</h3>
        </div>
        <div class="king-block-content">
            <table class="table mb0 pr15 ranger-box2  ">
                <thead>
                <tr>
                    <td style="width: 10%;">业务id</td>
                    <td style="width: 10%;">用户</td>
                    <td style="width: 10%;">作业id</td>
                    <td style="width: 10%;">操作时间</td>
                    <td style="width: 10%;">主机列表</td>
                    <td style="width: 10%;">作业状态</td>
                    <td style="width: 40%;">作业日志</td>
                </tr>
                </thead>
                <tbody id="info_local">

                </tbody>
            </table>
            <template id="tpl_info">
                <tr>
                    <td style="width: 10%;">#biz_id#</td>
                    <td style="width: 10%;">#username#</td>
                    <td style="width: 10%;">#job_id#</td>
                    <td style="width: 10%;">#createtime#</td>
                    <td style="width: 10%;">#bk_host_innerip#</td>
                    <td style="width: 10%;">#status#</td>
                    <td style="width: 40%;">#log_content#</td>
                </tr>
            </template>
            <!-- 设置面板End -->
        </div>
    </div>
</div>

<script>
    $('#end_time').datetimepicker({
        language: 'zh-TW',
        weekStart: 1,
        todayBtn: true,
        autoclose: true,
        todayHighlight: true,
        startView: 2,
        forceParse: false,
    });
    $('#start_time').datetimepicker({
        language: 'zh-TW',
        weekStart: 1,
        todayBtn: true,
        autoclose: true,
        todayHighlight: true,
        startView: 2,
        forceParse: false,
    });

    function renderTpl(str, cfg) {
        var re = /(#(.+?)#)/g;

        return str.replace(re, function () {
            var val = cfg[arguments[2]] + '';
            if (typeof val == 'undefined') {
                val = '';
            }
            return val;
        });
    }

    $(function () {
        // 异步请求后台数据
        $.ajax({
            url: '${SITE_URL}get_biz',
            type: 'POST',
            success: function (res) {
                var _html = ' ';
                var list = res.data;
                var tpl = $('template#select_tpl').html();
                for (var i = 0, len = list.length; i < len; i++) {
                    var item = list[i];
                    _html += renderTpl(tpl, item)
                }
                $('select#select_local').html(_html);
            }
        });
        // 调用初始化图像函数
        inittable({
            url: '${SITE_URL}get_photo_data',
            dataType: 'json',
        });
    });
    $("button#submit").click(function (e) {
        var end_time = $("#end_time").find("input").eq(0).val();
        var start_time = $("#start_time").find("input").eq(0).val();
        console.log(end_time, start_time)
        $.ajax({
            url: '${SITE_URL}get_table_job',
            type: 'POST',
            data: {
                start_time: start_time,
                end_time: end_time,
            },
            success: function (res) {
                var _html = ' ';
                var list = res.data;
                var tpl = $('template#tpl_info').html();
                for (var i = 0, len = list.length; i < len; i++) {
                    var item = list[i];
                    _html += renderTpl(tpl, item)
                }
                $('tbody#info_local').html(_html);
            }
        });
    })

    function inittable() {
        $.ajax({
            url: '${SITE_URL}get_table_job',
            type: 'POST',
            data: {},
            success: function (res) {
                var _html = ' ';
                var list = res.data;
                var tpl = $('template#tpl_info').html();
                for (var i = 0, len = list.length; i < len; i++) {
                    var item = list[i];
                    _html += renderTpl(tpl, item)
                }
                $('tbody#info_local').html(_html);
            }
        });
    }

</script>

</%block>

<%block name='footerline'>
<hr class="guide-cutting-line">
</%block>


