<%inherit file="/base.html"/>

<%block name="content">

<div class="king-layout2-main mt15" style="width:1200px;">
    <!--饼状图   编辑大小-->
    <div id="charts_pie_demo1" style="width: 48%;display: inline-block" data-role="chart"
         class="k-chart">
        <svg style="width: 80%; height: 80%; overflow: hidden;" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
            <defs></defs>
            <g>
                <path d="M0 0 L 915 0 915 480 0 480Z" stroke="none" fill="#ffffff"></path>
                <path d="M5 5 L 910 5 910 439 5 439Z" stroke="none" fill="#fff" fill-opacity="0"></path>
                <g>
                    <g></g>
                </g>
                <g></g>
                <g>
                    <g>
                        <g transform="matrix(1,0,0,1,318,449)">
                            <path d="M1 4.5 L 8 4.5 8 11.5 1 11.5Z" stroke="#428bca" stroke-width="1"
                                  fill="#428bca"></path>
                            <g>
                                <text style="font:12px Arial,Helvetica,sans-serif;" x="15" y="13" stroke="none"
                                      fill="#333333" fill-opacity="1">项目一
                                </text>
                            </g>
                            <path style="cursor:pointer;" d="M0 0 L 51 0 51 16 0 16Z" stroke="none" fill="#fff"
                                  fill-opacity="0"></path>
                        </g>
                        <g transform="matrix(1,0,0,1,375,449)">
                            <path d="M1 4.5 L 8 4.5 8 11.5 1 11.5Z" stroke="#5bc0de" stroke-width="1"
                                  fill="#5bc0de"></path>
                            <g>
                                <text style="font:12px Arial,Helvetica,sans-serif;" x="15" y="13" stroke="none"
                                      fill="#333333" fill-opacity="1">项目二
                                </text>
                            </g>
                            <path style="cursor:pointer;" d="M0 0 L 51 0 51 16 0 16Z" stroke="none" fill="#fff"
                                  fill-opacity="0"></path>
                        </g>
                        <g transform="matrix(1,0,0,1,432,449)">
                            <path d="M1 4.5 L 8 4.5 8 11.5 1 11.5Z" stroke="#5cb85c" stroke-width="1"
                                  fill="#5cb85c"></path>
                            <g>
                                <text style="font:12px Arial,Helvetica,sans-serif;" x="15" y="13" stroke="none"
                                      fill="#333333" fill-opacity="1">项目三
                                </text>
                            </g>
                            <path style="cursor:pointer;" d="M0 0 L 51 0 51 16 0 16Z" stroke="none" fill="#fff"
                                  fill-opacity="0"></path>
                        </g>
                        <g transform="matrix(1,0,0,1,489,449)">
                            <path d="M1 4.5 L 8 4.5 8 11.5 1 11.5Z" stroke="#f2b661" stroke-width="1"
                                  fill="#f2b661"></path>
                            <g>
                                <text style="font:12px Arial,Helvetica,sans-serif;" x="15" y="13" stroke="none"
                                      fill="#333333" fill-opacity="1">项目四
                                </text>
                            </g>
                            <path style="cursor:pointer;" d="M0 0 L 51 0 51 16 0 16Z" stroke="none" fill="#fff"
                                  fill-opacity="0"></path>
                        </g>
                        <g transform="matrix(1,0,0,1,546,449)">
                            <path d="M1 4.5 L 8 4.5 8 11.5 1 11.5Z" stroke="#e67d4a" stroke-width="1"
                                  fill="#e67d4a"></path>
                            <g>
                                <text style="font:12px Arial,Helvetica,sans-serif;" x="15" y="13" stroke="none"
                                      fill="#333333" fill-opacity="1">项目五
                                </text>
                            </g>
                            <path style="cursor:pointer;" d="M0 0 L 51 0 51 16 0 16Z" stroke="none" fill="#fff"
                                  fill-opacity="0"></path>
                        </g>
                    </g>
                </g>
                <g>
                    <g>
                        <path d="M596.408 151.223 L 620.736 138.1 624.736 138.1" stroke="#939393" stroke-width="1"
                              fill="none"></path>
                        <path d="M481.888 375.981 L 485.866 401.1 528.709 401.1" stroke="#939393" stroke-width="1"
                              fill="none"></path>
                        <path d="M309.23 270.176 L 285.721 281.1 281.721 281.1" stroke="#939393" stroke-width="1"
                              fill="none"></path>
                        <path d="M331.374 130.364 L 307.612 113.1 303.539 113.1" stroke="#939393" stroke-width="1"
                              fill="none"></path>
                        <path d="M409.324 73.73 L 400.022 45.1 379.395 45.1" stroke="#939393" stroke-width="1"
                              fill="none"></path>
                        <g transform="matrix(1,0,0,1,0,0)">
                            <path d="M457.5 70.1 C 494.616 70.1 531.558 84.281 559.141 109.116 586.724 133.952 604.688 169.209 608.568 206.122 612.448 243.035 602.206 281.257 580.39 311.285 L 457.5 222Z"
                                  stroke="none" fill="#428bca"></path>
                        </g>
                        <g transform="matrix(1,0,0,1,0,0)">
                            <path d="M580.39 311.285 C 557.015 343.457 520.54 365.809 481.262 372.03 441.985 378.251 400.388 368.264 368.215 344.89 L 457.5 222Z"
                                  stroke="none" fill="#5bc0de"></path>
                        </g>
                        <g transform="matrix(1,0,0,1,0,0)">
                            <path d="M368.215 344.89 C 342.477 326.19 322.866 299.196 313.035 268.94 303.203 238.683 303.203 205.317 313.035 175.06 L 457.5 222Z"
                                  stroke="none" fill="#5cb85c"></path>
                        </g>
                        <g transform="matrix(1,0,0,1,0,0)">
                            <path d="M313.035 175.06 C 322.866 144.804 342.477 117.81 368.215 99.11 L 457.5 222Z"
                                  stroke="none" fill="#f2b661"></path>
                        </g>
                        <g transform="matrix(0.998651,0,0,0.998651,0.617054,0.299423)">
                            <path d="M368.215 99.11 C 393.953 80.411 425.686 70.1 457.5 70.1 L 457.5 222Z" stroke="none"
                                  fill="#e67d4a"></path>
                        </g>
                    </g>
                </g>
                <g opacity="1">
                    <path d="M629.236 130.1 L 720.236 130.1 720.236 146.1 629.236 146.1Z" stroke="#000" stroke-width="0"
                          fill="none"></path>
                    <text style="font:11px Arial,Helvetica,sans-serif;" x="629.2355103359114" y="143.10000000000002"
                          stroke="none" fill="#333333" fill-opacity="1">项目一 - 35.00 %
                    </text>
                </g>
                <g opacity="1">
                    <path d="M533.209 393.1 L 624.209 393.1 624.209 409.1 533.209 409.1Z" stroke="#000" stroke-width="0"
                          fill="none"></path>
                    <text style="font:11px Arial,Helvetica,sans-serif;" x="533.2090420095881" y="406.1" stroke="none"
                          fill="#333333" fill-opacity="1">项目二 - 25.00 %
                    </text>
                </g>
                <g opacity="1">
                    <path d="M186.221 273.1 L 277.221 273.1 277.221 289.1 186.221 289.1Z" stroke="#000" stroke-width="0"
                          fill="none"></path>
                    <text style="font:11px Arial,Helvetica,sans-serif;" x="186.22124708408955" y="286.1" stroke="none"
                          fill="#333333" fill-opacity="1">项目三 - 20.00 %
                    </text>
                </g>
                <g opacity="1">
                    <path d="M208.039 105.1 L 299.039 105.1 299.039 121.1 208.039 121.1Z" stroke="#000" stroke-width="0"
                          fill="none"></path>
                    <text style="font:11px Arial,Helvetica,sans-serif;" x="208.03924538037938" y="118.10000000000002"
                          stroke="none" fill="#333333" fill-opacity="1">项目四 - 10.00 %
                    </text>
                </g>
                <g opacity="1">
                    <path d="M283.895 37.1 L 374.895 37.1 374.895 53.1 283.895 53.1Z" stroke="#000" stroke-width="0"
                          fill="none"></path>
                    <text style="font:11px Arial,Helvetica,sans-serif;" x="283.8951889351178" y="50.10000000000002"
                          stroke="none" fill="#333333" fill-opacity="1">项目五 - 10.00 %
                    </text>
                </g>
            </g>
        </svg>
    </div>

    <!--折线图   编辑大小-->
    <div id="charts_line_demo" style="width: 48%;display: inline-block" data-role="chart"
         class="k-chart">
        <svg style="width: 80%; height: 80%; overflow: hidden;" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
            <defs>
                <clipPath id="kdef1">
                    <path d="M34 12 L 909 12 909 416 34 416Z" stroke="#000" stroke-linejoin="miter" fill="none"></path>
                </clipPath>
            </defs>
            <g>
                <path d="M0 0 L 915 0 915 480 0 480Z" stroke="none" fill="#ffffff"></path>
                <path d="M34 12 L 909 12 909 416 34 416Z" stroke="none" fill="#fff" fill-opacity="0"></path>
                <g>
                    <g></g>
                    <g>
                        <path d="M34.5 335.5 L 909.5 335.5" stroke="#cccccc" stroke-width="1" fill="none"></path>
                        <path d="M34.5 254.5 L 909.5 254.5" stroke="#cccccc" stroke-width="1" fill="none"></path>
                        <path d="M34.5 174.5 L 909.5 174.5" stroke="#cccccc" stroke-width="1" fill="none"></path>
                        <path d="M34.5 93.5 L 909.5 93.5" stroke="#cccccc" stroke-width="1" fill="none"></path>
                        <path d="M34.5 12.5 L 909.5 12.5" stroke="#cccccc" stroke-width="1" fill="none"></path>
                    </g>
                    <g>
                        <g>
                            <g>
                                <path d="M34.5 416.5 L 909.5 416.5" stroke="#cccccc" stroke-width="1"
                                      fill="none"></path>
                                <path d="M34.5 416.5 L 34.5 420.5" stroke="#cccccc" stroke-width="1" fill="none"></path>
                                <path d="M107.5 416.5 L 107.5 420.5" stroke="#cccccc" stroke-width="1"
                                      fill="none"></path>
                                <path d="M180.5 416.5 L 180.5 420.5" stroke="#cccccc" stroke-width="1"
                                      fill="none"></path>
                                <path d="M253.5 416.5 L 253.5 420.5" stroke="#cccccc" stroke-width="1"
                                      fill="none"></path>
                                <path d="M326.5 416.5 L 326.5 420.5" stroke="#cccccc" stroke-width="1"
                                      fill="none"></path>
                                <path d="M399.5 416.5 L 399.5 420.5" stroke="#cccccc" stroke-width="1"
                                      fill="none"></path>
                                <path d="M472.5 416.5 L 472.5 420.5" stroke="#cccccc" stroke-width="1"
                                      fill="none"></path>
                                <path d="M544.5 416.5 L 544.5 420.5" stroke="#cccccc" stroke-width="1"
                                      fill="none"></path>
                                <path d="M617.5 416.5 L 617.5 420.5" stroke="#cccccc" stroke-width="1"
                                      fill="none"></path>
                                <path d="M690.5 416.5 L 690.5 420.5" stroke="#cccccc" stroke-width="1"
                                      fill="none"></path>
                                <path d="M763.5 416.5 L 763.5 420.5" stroke="#cccccc" stroke-width="1"
                                      fill="none"></path>
                                <path d="M836.5 416.5 L 836.5 420.5" stroke="#cccccc" stroke-width="1"
                                      fill="none"></path>
                                <path d="M909.5 416.5 L 909.5 420.5" stroke="#cccccc" stroke-width="1"
                                      fill="none"></path>
                            </g>
                        </g>
                    </g>
                    <g clip-path="url(#kdef1)">
                        <g>
                            <path d="M70.459 92.8 C 94.74 103.563 119.094 125.12 143.375 125.12 167.656 125.12 192.01 108.96 216.291 108.96 240.573 108.96 264.927 156.111 289.208 173.6 313.49 191.089 337.844 194.089 362.125 214 386.406 233.911 410.76 293.184 435.042 293.184 459.323 293.184 483.677 220.98 507.959 197.84 532.24 174.701 556.594 154.208 580.875 154.208 605.156 154.208 629.51 326.081 653.792 364.288 666.115 383.68 702.427 376.684 726.709 383.68 750.99 390.676 775.344 401.73 799.625 406.304 823.906 410.878 848.26 409.538 872.542 411.152"
                                  stroke="#f9ce1d" stroke-width="2" fill="none"></path>
                            <circle cx="70.459" cy="92.8" r="4" stroke="#f9ce1d" stroke-width="2" stroke-opacity="1"
                                    fill="#ffffff" fill-opacity="1"></circle>
                            <circle cx="143.375" cy="125.12" r="4" stroke="#f9ce1d" stroke-width="2" stroke-opacity="1"
                                    fill="#ffffff" fill-opacity="1"></circle>
                            <circle cx="216.291" cy="108.96" r="4" stroke="#f9ce1d" stroke-width="2" stroke-opacity="1"
                                    fill="#ffffff" fill-opacity="1"></circle>
                            <circle cx="289.208" cy="173.6" r="4" stroke="#f9ce1d" stroke-width="2" stroke-opacity="1"
                                    fill="#ffffff" fill-opacity="1"></circle>
                            <circle cx="362.125" cy="214" r="4" stroke="#f9ce1d" stroke-width="2" stroke-opacity="1"
                                    fill="#ffffff" fill-opacity="1"></circle>
                            <circle cx="435.042" cy="293.184" r="4" stroke="#f9ce1d" stroke-width="2" stroke-opacity="1"
                                    fill="#ffffff" fill-opacity="1"></circle>
                            <circle cx="507.958" cy="197.84" r="3.9999999999999716" stroke="#f9ce1d" stroke-width="2"
                                    stroke-opacity="1" fill="#ffffff" fill-opacity="1"></circle>
                            <circle cx="580.875" cy="154.208" r="4" stroke="#f9ce1d" stroke-width="2" stroke-opacity="1"
                                    fill="#ffffff" fill-opacity="1"></circle>
                            <circle cx="653.792" cy="364.288" r="4" stroke="#f9ce1d" stroke-width="2" stroke-opacity="1"
                                    fill="#ffffff" fill-opacity="1"></circle>
                            <circle cx="726.709" cy="383.68" r="4" stroke="#f9ce1d" stroke-width="2" stroke-opacity="1"
                                    fill="#ffffff" fill-opacity="1"></circle>
                            <circle cx="799.625" cy="406.304" r="4" stroke="#f9ce1d" stroke-width="2" stroke-opacity="1"
                                    fill="#ffffff" fill-opacity="1"></circle>
                            <circle cx="872.542" cy="411.152" r="4" stroke="#f9ce1d" stroke-width="2" stroke-opacity="1"
                                    fill="#ffffff" fill-opacity="1"></circle>
                        </g>
                    </g>
                    <g>
                        <text style="font:12px Arial,Helvetica,sans-serif;" x="55.4585" y="436" stroke="none"
                              fill="#333333" fill-opacity="1">07:10
                        </text>
                    </g>
                    <g>
                        <text style="font:12px Arial,Helvetica,sans-serif;" x="128.375" y="436" stroke="none"
                              fill="#333333" fill-opacity="1">07:10
                        </text>
                    </g>
                    <g>
                        <text style="font:12px Arial,Helvetica,sans-serif;" x="201.29149999999998" y="436" stroke="none"
                              fill="#333333" fill-opacity="1">07:10
                        </text>
                    </g>
                    <g>
                        <text style="font:12px Arial,Helvetica,sans-serif;" x="274.20849999999996" y="436" stroke="none"
                              fill="#333333" fill-opacity="1">07:10
                        </text>
                    </g>
                    <g>
                        <text style="font:12px Arial,Helvetica,sans-serif;" x="347.125" y="436" stroke="none"
                              fill="#333333" fill-opacity="1">07:10
                        </text>
                    </g>
                    <g>
                        <text style="font:12px Arial,Helvetica,sans-serif;" x="420.04150000000004" y="436" stroke="none"
                              fill="#333333" fill-opacity="1">07:10
                        </text>
                    </g>
                    <g>
                        <text style="font:12px Arial,Helvetica,sans-serif;" x="492.9585000000001" y="436" stroke="none"
                              fill="#333333" fill-opacity="1">07:10
                        </text>
                    </g>
                    <g>
                        <text style="font:12px Arial,Helvetica,sans-serif;" x="565.875" y="436" stroke="none"
                              fill="#333333" fill-opacity="1">07:10
                        </text>
                    </g>
                    <g>
                        <text style="font:12px Arial,Helvetica,sans-serif;" x="638.7915" y="436" stroke="none"
                              fill="#333333" fill-opacity="1">07:10
                        </text>
                    </g>
                    <g>
                        <text style="font:12px Arial,Helvetica,sans-serif;" x="711.7085" y="436" stroke="none"
                              fill="#333333" fill-opacity="1">07:10
                        </text>
                    </g>
                    <g>
                        <text style="font:12px Arial,Helvetica,sans-serif;" x="784.625" y="436" stroke="none"
                              fill="#333333" fill-opacity="1">07:10
                        </text>
                    </g>
                    <g>
                        <text style="font:12px Arial,Helvetica,sans-serif;" x="857.5415" y="436" stroke="none"
                              fill="#333333" fill-opacity="1">07:10
                        </text>
                    </g>
                    <g>
                        <g>
                            <path d="M34.5 12.5 L 34.5 416.5" stroke="#cccccc" stroke-width="1" fill="none"></path>
                            <path d="M30.5 416.5 L 34.5 416.5" stroke="#cccccc" stroke-width="1" fill="none"></path>
                            <path d="M30.5 335.5 L 34.5 335.5" stroke="#cccccc" stroke-width="1" fill="none"></path>
                            <path d="M30.5 254.5 L 34.5 254.5" stroke="#cccccc" stroke-width="1" fill="none"></path>
                            <path d="M30.5 174.5 L 34.5 174.5" stroke="#cccccc" stroke-width="1" fill="none"></path>
                            <path d="M30.5 93.5 L 34.5 93.5" stroke="#cccccc" stroke-width="1" fill="none"></path>
                            <path d="M30.5 12.5 L 34.5 12.5" stroke="#cccccc" stroke-width="1" fill="none"></path>
                        </g>
                    </g>
                    <g>
                        <text style="font:12px Arial,Helvetica,sans-serif;" x="18" y="420" stroke="none" fill="#333333"
                              fill-opacity="1">0
                        </text>
                    </g>
                    <g>
                        <text style="font:12px Arial,Helvetica,sans-serif;" x="12" y="339.2" stroke="none"
                              fill="#333333" fill-opacity="1">50
                        </text>
                    </g>
                    <g>
                        <text style="font:12px Arial,Helvetica,sans-serif;" x="5" y="258.40000000000003" stroke="none"
                              fill="#333333" fill-opacity="1">100
                        </text>
                    </g>
                    <g>
                        <text style="font:12px Arial,Helvetica,sans-serif;" x="5" y="177.6" stroke="none" fill="#333333"
                              fill-opacity="1">150
                        </text>
                    </g>
                    <g>
                        <text style="font:12px Arial,Helvetica,sans-serif;" x="5" y="96.8" stroke="none" fill="#333333"
                              fill-opacity="1">200
                        </text>
                    </g>
                    <g>
                        <text style="font:12px Arial,Helvetica,sans-serif;" x="5" y="16" stroke="none" fill="#333333"
                              fill-opacity="1">250
                        </text>
                    </g>
                </g>
                <g></g>
                <g>
                    <g>
                        <g transform="matrix(1,0,0,1,432,449)">
                            <path d="M1 4.5 L 8 4.5 8 11.5 1 11.5Z" stroke="#f9ce1d" stroke-width="1"
                                  fill="#f9ce1d"></path>
                            <g>
                                <text style="font:12px Arial,Helvetica,sans-serif;" x="15" y="13" stroke="none"
                                      fill="#333333" fill-opacity="1">项目一
                                </text>
                            </g>
                            <path style="cursor:pointer;" d="M0 0 L 51 0 51 16 0 16Z" stroke="none" fill="#fff"
                                  fill-opacity="0"></path>
                        </g>
                    </g>
                </g>
                <g></g>
            </g>
        </svg>
    </div>

    <!--柱状图   编辑大小-->
    <div id="charts_bar_demo" style="width: 48%;display: inline-block" data-role="chart"
         class="k-chart">
        <svg style="width: 100%; height: 100%; overflow: hidden;" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
            <defs>
                <clipPath id="kdef1">
                    <path d="M34 12 L 909 12 909 414 34 414Z" stroke="#000" stroke-linejoin="miter" fill="none"></path>
                </clipPath>
            </defs>
            <g>
                <path d="M0 0 L 915 0 915 480 0 480Z" stroke="none" fill="#ffffff"></path>
                <path d="M34 12 L 909 12 909 414 34 414Z" stroke="none" fill="#fff" fill-opacity="0"></path>
                <g>
                    <g></g>
                    <g>
                        <path d="M34.5 314.5 L 909.5 314.5" stroke="#cccccc" stroke-width="1" fill="none"></path>
                        <path d="M34.5 213.5 L 909.5 213.5" stroke="#cccccc" stroke-width="1" fill="none"></path>
                        <path d="M34.5 113.5 L 909.5 113.5" stroke="#cccccc" stroke-width="1" fill="none"></path>
                        <path d="M34.5 12.5 L 909.5 12.5" stroke="#cccccc" stroke-width="1" fill="none"></path>
                    </g>
                    <g>
                        <g>
                            <g>
                                <path d="M34.5 414.5 L 909.5 414.5" stroke="#cccccc" stroke-width="1"
                                      fill="none"></path>
                                <path d="M34.5 414.5 L 34.5 418.5" stroke="#cccccc" stroke-width="1" fill="none"></path>
                                <path d="M107.5 414.5 L 107.5 418.5" stroke="#cccccc" stroke-width="1"
                                      fill="none"></path>
                                <path d="M180.5 414.5 L 180.5 418.5" stroke="#cccccc" stroke-width="1"
                                      fill="none"></path>
                                <path d="M253.5 414.5 L 253.5 418.5" stroke="#cccccc" stroke-width="1"
                                      fill="none"></path>
                                <path d="M326.5 414.5 L 326.5 418.5" stroke="#cccccc" stroke-width="1"
                                      fill="none"></path>
                                <path d="M399.5 414.5 L 399.5 418.5" stroke="#cccccc" stroke-width="1"
                                      fill="none"></path>
                                <path d="M472.5 414.5 L 472.5 418.5" stroke="#cccccc" stroke-width="1"
                                      fill="none"></path>
                                <path d="M544.5 414.5 L 544.5 418.5" stroke="#cccccc" stroke-width="1"
                                      fill="none"></path>
                                <path d="M617.5 414.5 L 617.5 418.5" stroke="#cccccc" stroke-width="1"
                                      fill="none"></path>
                                <path d="M690.5 414.5 L 690.5 418.5" stroke="#cccccc" stroke-width="1"
                                      fill="none"></path>
                                <path d="M763.5 414.5 L 763.5 418.5" stroke="#cccccc" stroke-width="1"
                                      fill="none"></path>
                                <path d="M836.5 414.5 L 836.5 418.5" stroke="#cccccc" stroke-width="1"
                                      fill="none"></path>
                                <path d="M909.5 414.5 L 909.5 418.5" stroke="#cccccc" stroke-width="1"
                                      fill="none"></path>
                            </g>
                        </g>
                    </g>
                    <g clip-path="url(#kdef1)">
                        <g>
                            <g>
                                <g>
                                    <path d="M48.5 404.5 L 67.5 404.5 67.5 414.5 48.5 414.5Z" stroke="#356fa2"
                                          stroke-width="1" stroke-opacity="1" fill="#428bca" fill-opacity="1"></path>
                                </g>
                                <g>
                                    <path d="M74.5 409.5 L 93.5 409.5 93.5 414.5 74.5 414.5Z" stroke="#499ab2"
                                          stroke-width="1" stroke-opacity="1" fill="#5bc0de" fill-opacity="1"></path>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M121.5 410.5 L 140.5 410.5 140.5 414.5 121.5 414.5Z" stroke="#356fa2"
                                          stroke-width="1" stroke-opacity="1" fill="#428bca" fill-opacity="1"></path>
                                </g>
                                <g>
                                    <path d="M147.5 402.5 L 166.5 402.5 166.5 414.5 147.5 414.5Z" stroke="#499ab2"
                                          stroke-width="1" stroke-opacity="1" fill="#5bc0de" fill-opacity="1"></path>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M194.5 348.5 L 213.5 348.5 213.5 414.5 194.5 414.5Z" stroke="#356fa2"
                                          stroke-width="1" stroke-opacity="1" fill="#428bca" fill-opacity="1"></path>
                                </g>
                                <g>
                                    <path d="M220.5 396.5 L 239.5 396.5 239.5 414.5 220.5 414.5Z" stroke="#499ab2"
                                          stroke-width="1" stroke-opacity="1" fill="#5bc0de" fill-opacity="1"></path>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M267.5 400.5 L 285.5 400.5 285.5 414.5 267.5 414.5Z" stroke="#356fa2"
                                          stroke-width="1" stroke-opacity="1" fill="#428bca" fill-opacity="1"></path>
                                </g>
                                <g>
                                    <path d="M293.5 356.5 L 312.5 356.5 312.5 414.5 293.5 414.5Z" stroke="#499ab2"
                                          stroke-width="1" stroke-opacity="1" fill="#5bc0de" fill-opacity="1"></path>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M340.5 363.5 L 358.5 363.5 358.5 414.5 340.5 414.5Z" stroke="#356fa2"
                                          stroke-width="1" stroke-opacity="1" fill="#428bca" fill-opacity="1"></path>
                                </g>
                                <g>
                                    <path d="M366.5 48.5 L 385.5 48.5 385.5 414.5 366.5 414.5Z" stroke="#499ab2"
                                          stroke-width="1" stroke-opacity="1" fill="#5bc0de" fill-opacity="1"></path>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M413.5 260.5 L 431.5 260.5 431.5 414.5 413.5 414.5Z" stroke="#356fa2"
                                          stroke-width="1" stroke-opacity="1" fill="#428bca" fill-opacity="1"></path>
                                </g>
                                <g>
                                    <path d="M439.5 272.5 L 457.5 272.5 457.5 414.5 439.5 414.5Z" stroke="#499ab2"
                                          stroke-width="1" stroke-opacity="1" fill="#5bc0de" fill-opacity="1"></path>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M486.5 141.5 L 504.5 141.5 504.5 414.5 486.5 414.5Z" stroke="#356fa2"
                                          stroke-width="1" stroke-opacity="1" fill="#428bca" fill-opacity="1"></path>
                                </g>
                                <g>
                                    <path d="M512.5 61.5 L 530.5 61.5 530.5 414.5 512.5 414.5Z" stroke="#499ab2"
                                          stroke-width="1" stroke-opacity="1" fill="#5bc0de" fill-opacity="1"></path>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M558.5 367.5 L 577.5 367.5 577.5 414.5 558.5 414.5Z" stroke="#356fa2"
                                          stroke-width="1" stroke-opacity="1" fill="#428bca" fill-opacity="1"></path>
                                </g>
                                <g>
                                    <path d="M585.5 361.5 L 603.5 361.5 603.5 414.5 585.5 414.5Z" stroke="#499ab2"
                                          stroke-width="1" stroke-opacity="1" fill="#5bc0de" fill-opacity="1"></path>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M631.5 88.5 L 650.5 88.5 650.5 414.5 631.5 414.5Z" stroke="#356fa2"
                                          stroke-width="1" stroke-opacity="1" fill="#428bca" fill-opacity="1"></path>
                                </g>
                                <g>
                                    <path d="M658.5 316.5 L 676.5 316.5 676.5 414.5 658.5 414.5Z" stroke="#499ab2"
                                          stroke-width="1" stroke-opacity="1" fill="#5bc0de" fill-opacity="1"></path>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M704.5 374.5 L 723.5 374.5 723.5 414.5 704.5 414.5Z" stroke="#356fa2"
                                          stroke-width="1" stroke-opacity="1" fill="#428bca" fill-opacity="1"></path>
                                </g>
                                <g>
                                    <path d="M730.5 376.5 L 749.5 376.5 749.5 414.5 730.5 414.5Z" stroke="#499ab2"
                                          stroke-width="1" stroke-opacity="1" fill="#5bc0de" fill-opacity="1"></path>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M777.5 401.5 L 796.5 401.5 796.5 414.5 777.5 414.5Z" stroke="#356fa2"
                                          stroke-width="1" stroke-opacity="1" fill="#428bca" fill-opacity="1"></path>
                                </g>
                                <g>
                                    <path d="M803.5 402.5 L 822.5 402.5 822.5 414.5 803.5 414.5Z" stroke="#499ab2"
                                          stroke-width="1" stroke-opacity="1" fill="#5bc0de" fill-opacity="1"></path>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M850.5 407.5 L 869.5 407.5 869.5 414.5 850.5 414.5Z" stroke="#356fa2"
                                          stroke-width="1" stroke-opacity="1" fill="#428bca" fill-opacity="1"></path>
                                </g>
                                <g>
                                    <path d="M876.5 409.5 L 895.5 409.5 895.5 414.5 876.5 414.5Z" stroke="#499ab2"
                                          stroke-width="1" stroke-opacity="1" fill="#5bc0de" fill-opacity="1"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                    <g>
                        <text style="font:12px Arial,Helvetica,sans-serif;" x="60.9585" y="436" stroke="none"
                              fill="#333333" fill-opacity="1">1月
                        </text>
                    </g>
                    <g>
                        <text style="font:12px Arial,Helvetica,sans-serif;" x="133.875" y="436" stroke="none"
                              fill="#333333" fill-opacity="1">2月
                        </text>
                    </g>
                    <g>
                        <text style="font:12px Arial,Helvetica,sans-serif;" x="206.79149999999998" y="436" stroke="none"
                              fill="#333333" fill-opacity="1">3月
                        </text>
                    </g>
                    <g>
                        <text style="font:12px Arial,Helvetica,sans-serif;" x="279.70849999999996" y="436" stroke="none"
                              fill="#333333" fill-opacity="1">4月
                        </text>
                    </g>
                    <g>
                        <text style="font:12px Arial,Helvetica,sans-serif;" x="352.625" y="436" stroke="none"
                              fill="#333333" fill-opacity="1">5月
                        </text>
                    </g>
                    <g>
                        <text style="font:12px Arial,Helvetica,sans-serif;" x="425.54150000000004" y="436" stroke="none"
                              fill="#333333" fill-opacity="1">6月
                        </text>
                    </g>
                    <g>
                        <text style="font:12px Arial,Helvetica,sans-serif;" x="498.4585000000001" y="436" stroke="none"
                              fill="#333333" fill-opacity="1">7月
                        </text>
                    </g>
                    <g>
                        <text style="font:12px Arial,Helvetica,sans-serif;" x="571.375" y="436" stroke="none"
                              fill="#333333" fill-opacity="1">8月
                        </text>
                    </g>
                    <g>
                        <text style="font:12px Arial,Helvetica,sans-serif;" x="644.2915" y="436" stroke="none"
                              fill="#333333" fill-opacity="1">9月
                        </text>
                    </g>
                    <g>
                        <text style="font:12px Arial,Helvetica,sans-serif;" x="714.2085" y="436" stroke="none"
                              fill="#333333" fill-opacity="1">10月
                        </text>
                    </g>
                    <g>
                        <text style="font:12px Arial,Helvetica,sans-serif;" x="787.625" y="436" stroke="none"
                              fill="#333333" fill-opacity="1">11月
                        </text>
                    </g>
                    <g>
                        <text style="font:12px Arial,Helvetica,sans-serif;" x="860.0415" y="436" stroke="none"
                              fill="#333333" fill-opacity="1">12月
                        </text>
                    </g>
                    <g></g>
                    <g>
                        <text style="font:12px Arial,Helvetica,sans-serif;" x="18" y="418" stroke="none" fill="#333333"
                              fill-opacity="1">0
                        </text>
                    </g>
                    <g>
                        <text style="font:12px Arial,Helvetica,sans-serif;" x="12" y="317.5" stroke="none"
                              fill="#333333" fill-opacity="1">50
                        </text>
                    </g>
                    <g>
                        <text style="font:12px Arial,Helvetica,sans-serif;" x="5" y="217" stroke="none" fill="#333333"
                              fill-opacity="1">100
                        </text>
                    </g>
                    <g>
                        <text style="font:12px Arial,Helvetica,sans-serif;" x="5" y="116.5" stroke="none" fill="#333333"
                              fill-opacity="1">150
                        </text>
                    </g>
                    <g>
                        <text style="font:12px Arial,Helvetica,sans-serif;" x="5" y="16" stroke="none" fill="#333333"
                              fill-opacity="1">200
                        </text>
                    </g>
                </g>
                <g></g>
                <g>
                    <g>
                        <g transform="matrix(1,0,0,1,408.5,449)">
                            <path d="M1 4.5 L 8 4.5 8 11.5 1 11.5Z" stroke="#428bca" stroke-width="1"
                                  fill="#428bca"></path>
                            <g>
                                <text style="font:12px Arial,Helvetica,sans-serif;" x="15" y="13" stroke="none"
                                      fill="#333333" fill-opacity="1">项目a
                                </text>
                            </g>
                            <path style="cursor:pointer;" d="M0 0 L 46 0 46 16 0 16Z" stroke="none" fill="#fff"
                                  fill-opacity="0"></path>
                        </g>
                        <g transform="matrix(1,0,0,1,460.5,449)">
                            <path d="M1 4.5 L 8 4.5 8 11.5 1 11.5Z" stroke="#5bc0de" stroke-width="1"
                                  fill="#5bc0de"></path>
                            <g>
                                <text style="font:12px Arial,Helvetica,sans-serif;" x="15" y="13" stroke="none"
                                      fill="#333333" fill-opacity="1">项目b
                                </text>
                            </g>
                            <path style="cursor:pointer;" d="M0 0 L 46 0 46 16 0 16Z" stroke="none" fill="#fff"
                                  fill-opacity="0"></path>
                        </g>
                    </g>
                </g>
                <g></g>
            </g>
        </svg>
    </div>

</div>

<script type="text/javascript">
    function renderTpl(str, cfg) {
        var re = /(#(.+?)#)/g;

        return str.replace(re, function () {
            var val = cfg[arguments[2]] + '';
            if (typeof val == 'undefined') {
                val = '';
            }
            return val;
        });
    }

    $(function () {
        bk_host_innerip = localStorage.getItem("bk_host_innerip")
        console.log(bk_host_innerip)
    });

    //饼状图
    function createKendoPieChart(conf) {
        // 创建图表
        $(conf.selector).kendoChart({
            title: {
                text: conf.data.title
            },
            legend: {
                position: "bottom"
            },
            theme: 'bootstrap',
            seriesDefaults: {
                labels: {
                    template: "#= category # - #= kendo.format('{0:P}', percentage)#",
                    position: "outsideEnd",
                    visible: true,
                    background: "transparent"
                }
            },
            series: [{
                type: 'pie',
                data: conf.data.series
            }],
            tooltip: {
                visible: true,
                template: "#= category # - #= kendo.format('{0:P}', percentage) #"
            }
        });
        $(window).resize(function () {
            $(conf.selector).data("kendoChart").refresh();
        });
    }

    function initKendoPieChart(conf) {
        // 异步请求后台数据
        $.ajax({
            url: conf.url,
            type: 'POST',
            data: {bk_host_innerip: conf.bk_host_innerip},
            dataType: conf.dataType,
            success: function (res) {
                //获取数据成功
                if (res.result) {
                    var data = res.data;
                    createKendoPieChart({
                        selector: conf.container, // 图表容器
                        data: data // 图表数据
                    });
                }
            }
        });
    }

    $(function () {
        initKendoPieChart({
            url: '${SITE_URL}get_pie_chart_data',
            dataType: 'json',
            bk_host_innerip: bk_host_innerip,
            container: '#charts_pie_demo1'
        });
    });

    //折线图
    function createKendoLineChart(conf) {
        // 创建图表
        $(conf.selector).kendoChart({
            transitions: false,
            legend: {
                position: "bottom"
            },
            theme: 'bootstrap',
            seriesDefaults: {
                type: conf.type,
                style: "smooth"
            },
            series: conf.data.series,
            categoryAxis: {
                majorGridLines: {
                    visible: false
                },
                categories: conf.data.categories,
                labels: {
                    rotation: "auto"
                }
            },
            tooltip: {
                visible: true,
                template: "#= category # #= value #"
            }

        });
        //重新绘制
        $(window).on('resize', function () {
            var chart = $(conf.selector).data("kendoChart");
            chart.redraw();
        });
    }

    function initKendoLineChart(conf) {
        // 异步请求后台数据
        $.ajax({
            url: conf.url,
            type: 'POST',
            data: {bk_host_innerip: conf.bk_host_innerip},
            dataType: conf.dataType,
            success: function (res) {
                //获取数据成功
                if (res.result) {
                    var data = res.data;
                    createKendoLineChart({
                        selector: conf.containerId, // 图表容器
                        type: conf.type, // 图表类型
                        data: data, // 图表数据
                    });
                }
            }
        })
    }

    $(function () {
        initKendoLineChart({
            url: '${SITE_URL}get_line_chart_data',
            dataType: 'json',
            type: "line",
            bk_host_innerip: bk_host_innerip,
            containerId: '#charts_line_demo'
        });
    });

    // 柱状图
    function createKendoBarChart(conf) {
        // 创建图表
        $(conf.selector).kendoChart({
            legend: {
                position: "bottom"
            },
            theme: 'bootstrap',
            categoryAxis: {
                majorGridLines: {
                    visible: false
                },
                categories: conf.data.categories
            },
            seriesDefaults: {
                type: conf.type
            },
            series: conf.data.series,
            valueAxis: {
                max: 200,
                line: {
                    visible: false
                },
                minorGridLines: {
                    visible: false
                },
                labels: {
                    rotation: "auto"
                }
            },
            tooltip: {
                visible: true,
                template: "#= series.name # #= value #"
            }
        });
    }

    function initKendoBarChart(conf) {
        $.ajax({
            url: conf.url,
            type: 'POST',
            data: {bk_host_innerip: conf.bk_host_innerip},
            dataType: conf.dataType,
            success: function (res) {
                //获取数据成功
                if (res.result) {
                    var data = res.data;
                    createKendoBarChart({
                        selector: conf.containerId, // 图表容器
                        type: "column", // 图表类型
                        data: data, // 图表数据
                    });
                }
            }
        })
    }

    $(function () {
        initKendoBarChart({
            url: '${SITE_URL}get_histogram_data',
            dataType: 'json',
            bk_host_innerip: bk_host_innerip,
            containerId: '#charts_bar_demo'
        });
    });


</script>

</%block>

<%block name='footerline'>
<hr class="guide-cutting-line">
</%block>


