<%inherit file="/base.html"/>

<%block name="content">


<div class="king-layout2-main mt15" style="width:1200px;">
    <div class="king-block king-block-bordered king-block-themed mb0" style="width:1000px; margin-left: 100px;">
        <div class="king-block-header king-info">
            <ul class="king-block-options">
                <li>
                    <!-- <button type="button"><i class="fa fa-cog"></i></button> -->
                </li>
            </ul>
            <h3 class="king-block-title">选择菜单</h3>
        </div>
        <div class="king-block-content">
            <div class="form-group clearfix ">
                <label class="col-sm-3 control-label bk-lh30 pt0">选择业务：</label>
                <div class="col-sm-9">
                    <select name="" id="select_local" class="form-control bk-valign-top">

                    </select>
                </div>
            </div>

            <div class="form-group has-feedback clearfix ">
                <label class="control-label col-sm-3 pt0" for="introduction">输入主机IP：</label>
                <div class="col-sm-9">
                    <textarea class="form-control" rows="3" placeholder="多IP用换行分隔" id="ips"></textarea>
                </div>
            </div>
            <form class="form-horizontal">
                <div class="form-group clearfix">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button type="button" class="king-btn mr10  king-success" id="submit">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <template id="select_tpl">
        <option value="#biz_id#">#biz_name#</option>
    </template>

    <div class="king-block king-block-bordered king-block-themed mb0">
        <div class="king-block-header king-info">
            <ul class="king-block-options">
                <li>
                    <!-- <button type="button"><i class="fa fa-cog"></i></button> -->
                </li>
            </ul>
            <h3 class="king-block-title">数据展示</h3>
        </div>
        <div class="king-block-content">
            <table class="table mb0 pr15 ranger-box2  ">
                <thead>
                <tr>
                    <th style="width: 15px;">内网IP</th>
                    <th style="width: 15%;">系统名</th>
                    <th style="width: 15%;">主机名</th>
                    <th style="width: 15%;">云区域</th>
                    <th style="width: 10%;">Mem(%)</th>
                    <th style="width: 10%;">Disk(%)</th>
                    <th style="width: 10%;">CPU(%)</th>
                    <th style="width: 10%;">操作</th>
                </tr>
                </thead>
                <tbody id="info_local">

                </tbody>
            </table>
            <template id="tpl_info">
                <tr data-bk_biz_id="#bk_biz_id#" data-bk_host_innerip="#bk_host_innerip#"
                    data-bk_inst_id="#bk_inst_id#">
                    <td style="width: 15%;">#bk_host_innerip#</td>
                    <td style="width: 15%;">#bk_os_name#</td>
                    <td style="width: 15%;">#bk_host_name#</td>
                    <td style="width: 15%;">#bk_inst_name#</td>
                    <td style="width: 10%;" id="Mem">---</td>
                    <td style="width: 10%;" id="Disk">---</td>
                    <td style="width: 10%;" id="CPU">---</td>
                    <td style="width: 10%;" id="operate">
                        <button class="btn btn-xs btn-warning"><i class="glyphicon glyphicon-edit check" title="查询"></i>
                        </button>
                        <button class="btn btn-xs btn-success"><i class="glyphicon glyphicon-ok add" title="添加"></i>
                        </button>
                        <button class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove delete"
                                                                 title="删除"></i>
                        </button>
                    </td>
                </tr>
            </template>
            <!-- 设置面板End -->
        </div>
    </div>
</div>

<script>
    function renderTpl(str, cfg) {
        var re = /(#(.+?)#)/g;

        return str.replace(re, function () {
            var val = cfg[arguments[2]] + '';
            if (typeof val == 'undefined') {
                val = '';
            }
            return val;
        });
    }

    $(function () {
        // 异步请求后台数据
        $.ajax({
            url: '${SITE_URL}get_biz',
            type: 'POST',
            success: function (res) {
                var _html = ' ';
                var list = res.data;
                var tpl = $('template#select_tpl').html();
                for (var i = 0, len = list.length; i < len; i++) {
                    var item = list[i];
                    _html += renderTpl(tpl, item)
                }
                $('select#select_local').html(_html);
            }
        });
    });
    $("button#submit").click(function (e) {
        var ips = $("textarea#ips").val();
        var biz_id = $("select#select_local").val();
        console.log({"ips": ips, "biz_id": biz_id});
        $.post("${SITE_URL}SubmitInquire", {"ips": ips, "biz_id": biz_id}, function (res) {
            if (res.result) {
                var _html = "";
                var list = res.data;
                var tpl = $("template#tpl_info").html();
                for (var i = 0; i < list.length; i++) {
                    var item = list[i];
                    _html += renderTpl(tpl, item);
                }
                $("tbody#info_local").html(_html)
                for (var i = 0; i < list.length; i++) {
                    if (list[i].is_monitor) {
                        $("tbody#info_local").find("tr").eq(i).find("td button i.add").closest("button").hide()
                    } else {
                        $("tbody#info_local").find("tr").eq(i).find("td button i.delete").closest("button").hide()
                    }
                }
            }
        })
    });
    $("tbody#info_local").on('click', '.check, .add, .delete', function (e) {
        if ($(e.target).hasClass("check")) {
            var r = confirm("是否查询主机实时信息");
            if (r == true) {
                var bk_biz_id = $(e.target).closest("tr").data("bk_biz_id");
                var bk_host_innerip = $(e.target).closest("tr").data("bk_host_innerip");
                var bk_inst_id = $(e.target).closest("tr").data("bk_inst_id");
                $(e.target).closest("td#operate").siblings("#Mem").html('<img alt="loadding" src="https://magicbox.bk.tencent.com/static_api/v3/components/loading1/images/loading_2_16x16.gif">')
                $(e.target).closest("td#operate").siblings("#Disk").html('<img alt="loadding" src="https://magicbox.bk.tencent.com/static_api/v3/components/loading1/images/loading_2_16x16.gif">')
                $(e.target).closest("td#operate").siblings("#CPU").html('<img alt="loadding" src="https://magicbox.bk.tencent.com/static_api/v3/components/loading1/images/loading_2_16x16.gif">')
                $.post("${SITE_URL}check_info", {
                    "bk_inst_id": bk_inst_id,
                    "bk_host_innerip": bk_host_innerip,
                    "bk_biz_id": bk_biz_id
                }, function (res) {
                    if (res.result) {
                        $(e.target).closest("td#operate").siblings("#Mem").text(res.data.mem_usage)
                        $(e.target).closest("td#operate").siblings("#Disk").text(res.data.disk_usage)
                        $(e.target).closest("td#operate").siblings("#CPU").text(res.data.cpu_usage)
                    }
                })
            }
            else {
                return
            }
        } else if ($(e.target).hasClass("add")) {
            var r = confirm("是否添加到实时查询列表");
            if (r == true) {
                var bk_biz_id = $(e.target).closest("tr").data("bk_biz_id");
                var bk_host_innerip = $(e.target).closest("tr").data("bk_host_innerip");
                var bk_inst_id = $(e.target).closest("tr").data("bk_inst_id");
                console.log({"bk_inst_id": bk_inst_id, "bk_host_innerip": bk_host_innerip, "bk_biz_id": bk_biz_id})
                $.post("${SITE_URL}add_server", {
                    "bk_inst_id": bk_inst_id,
                    "bk_host_innerip": bk_host_innerip,
                    "bk_biz_id": bk_biz_id
                }, function (res) {
                    if (res.result) {
                        var content = '<div class="king-notice-box king-notice-success"><p class="king-notice-text">添加服务器成功！</p></div>'
                        $(e.target).closest("button").hide()
                        $(e.target).closest("button").next().show()
                    } else {
                        var content = '<div class="king-notice-box king-notice-success"><p class="king-notice-text">添加服务器失败！</p></div>'
                    }
                    var d = dialog({
                        width: 260,
                        title: '提示',
                        cancel: function () {
                        },
                        ok: function () {
                        },
                        okValue: '确定',
                        content: content,
                        cancelValue: '取消',
                        cancel: function () {
                            // do something
                        }
                    });
                    d.show();
                })
            }
            else {
                return
            }
        } else if ($(e.target).hasClass("delete")) {
            var r = confirm("是否在实时查询中删除");
            if (r == true) {
                var bk_biz_id = $(e.target).closest("tr").data("bk_biz_id");
                var bk_host_innerip = $(e.target).closest("tr").data("bk_host_innerip");
                var bk_inst_id = $(e.target).closest("tr").data("bk_inst_id");
                console.log({"bk_inst_id": bk_inst_id, "bk_host_innerip": bk_host_innerip, "bk_biz_id": bk_biz_id})
                $.post("${SITE_URL}delete_server", {
                    "bk_inst_id": bk_inst_id,
                    "bk_host_innerip": bk_host_innerip,
                    "bk_biz_id": bk_biz_id
                }, function (res) {
                    if (res.result) {
                        if (res.result) {
                            var content = '<div class="king-notice-box king-notice-success"><p class="king-notice-text">删除服务器成功！</p></div>'
                            $(e.target).closest("button").hide()
                            $(e.target).closest("button").prev().show()
                        } else {
                            var content = '<div class="king-notice-box king-notice-success"><p class="king-notice-text">删除服务器失败！</p></div>'
                        }
                        var d = dialog({
                            width: 260,
                            title: '提示',
                            cancel: function () {
                            },
                            ok: function () {
                            },
                            okValue: '确定',
                            content: content,
                            cancelValue: '取消',
                            cancel: function () {
                                // do something
                            }
                        });
                        d.show();
                    }
                })
            }
            else {
                return
            }
        }
    })

</script>

</%block>

